.classes-card {
  width: 40rem;
  height: 20rem;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 1rem;

  background: var(--color-secundary-dark);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.classes-card span {
  max-width: 100%;
  font-size: 2rem;
  color: #FFF;
}

.classes-card span + span {
  margin-top: 1rem; 
}

.classes-card button {
  width: 10rem;
  padding: 1rem;
  margin-top: 1.5rem;
  border: 0;
  border-radius: 0.75rem;
  outline: 0;
  background: var(--color-secundary);
  color: #FFF;
  font-size: 1.5rem;
  cursor: pointer;
  align-self: flex-end;

  transition: filter 0.3s;
}

.classes-card button:hover {
  filter: brightness(0.8);
  color: var(--color-line-in-white);
}

.fade.modal.show.class-modal {
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  position: fixed;
  display: flex !important;

  z-index: 1;
  background-color: rgba(0,0,0,0.5);
}

.fade.modal.show.class-modal .modal-dialog {
  width: 90%;
  max-height: 90%;
  border-radius: 1rem;
  padding: 3.5rem;
  overflow: auto
}

.fade.modal.show.class-modal .modal-dialog .modal-body {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fade.modal.show.class-modal .modal-dialog .modal-body .student-card {
  width: 60rem;
}

.fade.modal.show.class-modal .modal-dialog .modal-body .student-card .card {
  height: 24rem;
}

@media (max-width: 600px) {
  .fade.modal.show.class-modal .modal-dialog .modal-body .student-card .card {
    width: 35rem;
    height: 23rem;
    padding-right: 1rem;
  }

  .fade.modal.show.class-modal .modal-dialog .modal-body .student-card .card span {
    width: 95%;
    font-size: 1.4rem;
    margin-top: 1rem;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .modal-dialog .modal-body .student-card .card {
    width: 50rem;
    height: 20rem;
    padding-right: 1rem;
  }

  .modal-dialog .modal-body .student-card .card span {
    width: 95%;
    font-size: 1.6rem;
    margin-top: 1rem;
  }
}