.classes-card {
  width: 40rem;
  height: 20rem;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 1rem;

  background: var(--color-text-black);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.classes-card span {
  max-width: 100%;
  font-size: 2rem;
  color: #FFF;
}

.classes-card span + span {
  margin-top: 1rem; 
}

.classes-card button {
  width: 10rem;
  padding: 1rem;
  margin-top: 1.5rem;
  border: 0;
  border-radius: 0.75rem;
  outline: 0;
  background: #343434;
  color: #FFF;
  font-size: 1.5rem;
  cursor: pointer;
  align-self: flex-end;
}