.student-card {
  margin: 1.5rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.student-card .card {
  width: 60rem;
  height: 19rem;
  border-radius: 1rem;

  background: var(--color-primary-lighter);
  
  display: flex;
  align-items: center;
}

.student-card .card .student-image {
  width: 10rem;
  height: 10rem;
  margin-left: 1.5rem;
  margin-right: 5rem;
  border-radius: 50%;
  border: 2px solid var(--color-line-in-white);

  background: var(--color-text-complement);
  font-size: 6rem;
  color: var(--color-text-base);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.student-card .card .student-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.student-card .card .student-info {
  width: 70%;
  max-height: 100%;
  margin-top: 2.5rem;

  font-size: 1.7rem;
  font-family: Poppins, sans-serif;
  color: var(--color-line-in-white);

  display: flex;
  flex-direction: column;
}

.student-card .card .student-info p:first-child {
  margin-top: 2.5rem;
}

.student-card .card .student-info .btn {
  width: 12rem;
  height: 3rem;
  margin-top: 1rem;
  border-radius: 1rem;
  border: 0;

  background: var(--color-primary-darker);
  color: var(--color-input-background);
  font-size: 1.6rem;

  align-self: flex-end;
  outline: none;

  cursor: pointer;

  transition: filter 0.3s;
}

.student-card .card .student-info .btn:hover {
  filter: brightness(0.9)
}

.fade.modal.show {
  width: 100%;
  height: 100%;
  padding: 0 2rem;

  top: 0;
  left: 0;

  position: fixed;
  display: flex !important;

  z-index: 1;
  background-color: rgba(0,0,0,0.7);
}

.modal-dialog {
  width: 60rem;
  border-radius: 1rem;
  padding: 2rem;

  background-color: var(--color-primary-darker);
  margin: auto;
  border: 2px solid var(--color-text-complement);
  color: #FFF;
}

.modal-dialog .modal-header h1 {
  font-size: 3rem;
}

.modal-dialog .modal-title {
  display: flex;
  justify-content: flex-end;
}


.modal-dialog .modal-title button {
  margin-bottom: 1rem;
  border: 0;
  outline: none;
  background: transparent;
  cursor: pointer;
  font-size: 3rem;
  color: #FFF;
}

.modal-dialog .modal-title button:hover {
  color: var(--color-text-in-primary);
}

.modal-dialog .modal-body {
  display: flex;
  flex-direction: column;
}

.modal-dialog .modal-body span {
  width: 95%;
  font-size: 2rem;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .student-card .card {
    width: 35rem;
    height: 23rem;
    padding-right: 1rem;
  }

  .student-card .card .student-image {
    width: 8rem;
    height: 8rem;
    margin-right: 3rem;
  
    font-size: 4.5rem;
  }

  .student-card .card span {
    width: 95%;
    font-size: 1.3rem;
    margin-top: 1rem;
  }

  
  .student-card .card .student-info {
    margin-top: 1rem;
  }

  .modal-dialog .modal-header h1 {
    font-size: 2.2rem;
  }

  .modal-dialog .modal-body span {
    width: 95%;
    font-size: 1.8rem;
    margin-top: 1rem;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .student-card .card {
    width: 50rem;
    height: 20rem;
    padding-right: 1rem;
  }

  .student-card .card .student-image {
    width: 9rem;
    height: 9rem;
    margin-right: 3rem;
  
    font-size: 5rem;
  }
}
