.class-modal {
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  align-self: center;

  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
  overflow: auto;
}

.class-modal .modal-content {
  width: 95%;
  height: 90%;
  padding: 3.5rem;

  background-color: var(--color-background-light);
  margin: auto;
  border: 1px solid #888;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  overflow-y: scroll;
}

.class-modal .modal-content .modal-header {
  width: 100%;
  margin-top: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.class-modal .modal-content .modal-header h2 {
  font-size: 2.5rem;
}

.class-modal .modal-content button {
  margin: 0;
  padding: 0;

  font-size: 3rem;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;

  text-align: right;
  color: var(--color-text-black);
}

.class-modal .modal-content .class-info {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.class-modal .modal-content .class-info .student-card {
  max-width: 60rem;
  margin: 1rem 0;
}

.class-modal .modal-content .class-info .student-card .card {
  height: 21rem;
  padding-right: 1rem;
}

.class-modal .modal-content .class-info .student-card button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
}

.class-modal .modal-content .class-info span {
  font-size: 2rem;
  margin-top: 0.75rem;
  color: var(--color-text-black);
}


@media (max-width: 600px) {
  .class-modal .modal-content .class-info .student-card .card {
    height: 24rem;
  }

  .class-modal .modal-content .class-info .student-card .card {
    height: 34rem;
    padding-right: 1rem;
  }
}

@media (min-width: 600px) and (max-width: 768px) {  
  .class-modal .modal-content .class-info .student-card .card {
    height: 24rem;
  }
}