main {
  width: 100%;

  grid-area: main-content;

  background: var(--color-input-background);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

main a {
  text-decoration: none;
}

main .card {
  width: 35rem;
  height: 20rem;
  padding: 2rem;
  border-radius: 2rem;

  display: flex;
  justify-content: space-between;

  transition: filter 0.3s;
}

main .card:hover {
  filter: brightness(0.9);
}

main .card.total-students {
  background: var(--color-primary-light);
}

main .card.classes {
  background: var(--color-secundary);
  margin-top: 4rem;
}

main .card.students-register {
  background: var(--color-primary-dark);
  margin-left: 4rem;
}

main .card.classes-register {
  background: var(--color-secundary-dark);
  margin-left: 4rem;
  margin-top: 4rem;
}

main .card.students-register .card-info,
main .card.classes-register .card-info {
  align-self: flex-end;
}

main .card .card-icon {
  align-self: center;
}

main .card .card-icon i {
  font-size: 8rem;
  color: #FFF;
}

main .card.classes .card-icon i {
  margin-left: -1rem;
}

main .card .card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 2rem;
  color: var(--color-line-in-white);
}

main .card .card-info {
  text-align: right;
}

main .card .card-info > div {
  width: 30px;
  height: 30px;
  border: 2px solid var(--color-line-in-white);
  display: flex;
  border-radius: 50%;
  align-content: center;
  justify-content: center;
}

main .card .card-info > div span {
  align-self: center;
}

@media (max-width: 500px) {
  main {
    display: flex;
    flex-direction: column;
  }

  main .card {
    width: 27.5rem;
    height: 18rem;
    padding: 1.8rem;
    border-radius: 1.5rem;
  }

  
  main .card .card-info {
    font-size: 1.8rem;
  }

  main .card .card-icon i {
    font-size: 6.5rem;
  }

  main .card .card-info > div {
    width: 25px;
    height: 25px;
  }
  
  main .card .card-info > div span {
    font-size: 1.6rem;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  main {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
  }


  main .card.total-students,
  main .card.classes,
  main .card.students-register,
  main .card.classes-register {
    margin: 0;
  }

  main .card.classes,
  main .card.students-register,
  main .card.classes-register {
    margin-top: 3rem;
  }
}
