.class-register {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 2rem 0;

  font-family: Poppins, sans-serif;
  color: var(--color-text-black);
}

.class-register form {
  font-size: 2rem;
}

.class-register .class-name {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.class-register form label {
  display: flex;
  flex-direction: column;

  margin-left: 0.5rem;
}

.class-register form input {
  width: 50rem;
  padding: 1rem;
  outline: none;
  border: 0;
  border-radius: 0.75rem;
  font-size: 1.5rem;
  text-overflow: ellipsis;
}

.class-register form .form-select {
  padding: 1rem;
  outline: none;
  border: 0;
  border-radius: 0.75rem;
}

.class-register form .submit-button {
  display: flex;
  justify-content: flex-end;
}

.class-register form .submit-button {
  display: flex;
  justify-content: flex-end;
}

.class-register form .submit-button button {
  padding: 1rem 2rem;
  margin: 1.5rem 0;
  border: 0;
  outline: none;
  border-radius: 0.5rem;
  background: #CCC;
  color: var(--color-text-black);
  cursor: pointer;
  transition: filter 0.3s;
}

.class-register form .submit-button button:hover {
  filter: brightness(0.9);
}

@media (max-width: 600px) {
  .class-register form input {
    width: 30rem;
    padding: 1rem;
    outline: none;
    border: 0;
    border-radius: 0.75rem;
    font-size: 1.5rem;
  }
}
