.student-modal {
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  align-self: center;

  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
  overflow: auto;
}

.student-modal .modal-content {
  width: 80%;
  height: 70%;
  padding: 3.5rem;

  background-color: var(--color-background-light);
  margin: auto;
  border: 1px solid #888;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  overflow-y: scroll;
}

.student-modal .modal-content .modal-header {
  width: 100%;
  margin-top: 1rem;

  color: var(--color-text-black);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.student-modal .modal-content button {
  font-size: 3rem;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;

  align-self: flex-end;
}

.student-modal .modal-content .student-info {
  width: 90%;
  margin-top: 2rem;
  display: flex;
}

.student-modal .modal-content .student-info span {
  font-size: 2rem;
  margin-top: 0.5rem;
}


@media (max-width: 600px) {
  .student-modal .modal-content {
    height: 60%;
    padding: 2rem;
  }

  .student-modal .modal-content .modal-header h2 {
    font-size: 1.6rem;
  }

  .student-modal .modal-content .student-info span {
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .student-modal .modal-content {
    height: 65%;
  }

  .student-modal .modal-content .modal-header h2 {
    font-size: 1.8rem;
  }

  .student-modal .modal-content .student-info span {
    font-size: 1.8rem;
  }
}