.card-header {
  grid-area: header;

  height: 8rem;
  width: 100%;
  padding: 0 2rem;

  background: linear-gradient(130deg,#9871F5 -40%,#8257E5 50%, #6842C2 120%);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header .logo a {
  text-decoration: none;
  transition: filter 0.3s;
}

.card-header .logo a:hover {
  filter: brightness(0.9);
}

.card-header .logo a span {
  font-size: 4rem;
  color: var(--color-line-in-white);
}

.card-header nav a {
  font-size: 2rem;
  color: var(--color-line-in-white);
  text-decoration: none;

  transition: filter 0.3s;
}

.card-header nav a:hover {
  text-decoration: underline;
  filter: brightness(0.9);
}

.card-header nav a + a {
  margin-left: 2rem;
}

@media (max-width: 600px) {
  .card-header .logo span {
    font-size: 2.2rem !important;
  }

  .card-header nav {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .card-header .logo span {
    font-size: 3rem;
  }

  .card-header nav {
    display: none;
  }
}
