.card-header {
  grid-area: header;

  height: 8rem;
  width: 100%;
  padding: 0 2rem;

  background: linear-gradient(130deg,#ee3123 -40%,#fa7f0b 50%,#fcaf17 120%);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header .logo span {
  font-size: 4rem;
  color: var(--color-text-gray);
}

.card-header nav a {
  font-size: 2rem;
  color: var(--color-text-gray);
  text-decoration: none;

  transition: filter 0.3s;
}

.card-header nav a:hover {
  text-decoration: underline;
  filter: brightness(0.9);
}

.card-header nav a + a {
  margin-left: 2rem;
}

@media (max-width: 600px) {
  .card-header .logo span {
    font-size: 2.5rem !important;
  }

  .card-header nav {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .card-header .logo span {
    font-size: 3rem;
  }

  .card-header nav {
    display: none;
  }
}
