.card-header {
  grid-area: header;

  height: 8rem;
  width: 100%;
  padding-left: 2rem;

  background: linear-gradient(to right, var(--color-primary-red), var(--color-primary-orange) 25%, var(--color-secondary-orange));

  display: flex;
  align-items: center;
}

.card-header span {
  font-size: 4rem;
  color: var(--color-text-gray);
}

@media (max-width: 500px) {
  .card-header span {
    font-size: 2.5rem !important;
  }
}

@media (max-width: 768px) {
  .card-header span {
    font-size: 3rem;
  }
}
