.card-footer {
  grid-area: footer;

  height: 8rem;
  width: 100%;
  padding-right: 2rem;

  background: linear-gradient(130deg,#9871F5 -40%,#8257E5 50%, #6842C2 100%);

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.card-footer span {
  font-size: 2rem;
  color: var(--color-line-in-white);
}

@media (max-width: 500px) {
  .card-footer {
    justify-content: center;
    padding: 0;
  }
}