.card-footer {
  grid-area: footer;

  height: 8rem;
  width: 100%;
  padding-right: 2rem;

  background: linear-gradient(to left,#ee3123 -40%,#fa7f0b 50%,#fcaf17 120%);

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.card-footer span {
  font-size: 2rem;
  color: var(--color-text-gray);
}

@media (max-width: 500px) {
  .card-footer {
    justify-content: center;
    padding: 0;
  }
}