* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary-red: #EE3123;
  --color-secondary-red: #FF594E;
  --color-primary-orange: #FA7F0B;
  --color-secondary-orange: #fff3da;
  --color-text-gray: #FFEDDC;
  --color-text-black: #242424;
  --color-background-light: #FEECDB;
  --color-background-dark: #fae8d3;

  font-size: 62.5%;
}

html, body, #root {
  height: 100vh;
}

body {
  background: var(--color-background-light);
  font-family: Archivo, sans-serif;
}

