.menu {
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  align-self: center;
  position: fixed;

  display: none;
  z-index: 1;
  overflow: auto;
}

.main-menu-button {
  border: 0;
  outline: 0;
  margin-top: 0.2rem;

  font-size: 2rem;

  background: transparent;

  color: var(--color-line-in-white);

  cursor: pointer;
}

.menu .menu-content {
  width: 100%;
  height: 100%;
  padding: 3rem;

  background-color: var(--color-background);
  border: 1px solid #888;
}

.menu .menu-content .menu-button {
  width: 100%;
  margin-bottom: 4rem;
  
  display: flex;
  justify-content: flex-end;
}

.menu .menu-content .menu-button button {
  width: 2rem;
  height: 2rem;
  border: 0;
  outline: 0;
  background: transparent;
  cursor: pointer;
}

.menu .menu-content .menu-header {
  width: 100%;

  color: var(--color-text-black);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu .menu-content .menu-header nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.menu .menu-content .menu-header nav a {
  width: 100%;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin: 0;

  display: block;
  font-size: 2.5rem;
  color: var(--color-text-title);
}

.menu .menu-content .menu-header nav a span {
  width: 100%;
  margin-left: 1rem;
  display: block;
  font-size: 2.5rem;
  color: var(--color-text-title);
}

.menu .menu-content .menu-header nav a + a {
  margin-top: 2rem;
}

.menu .menu-content .menu-header button {
  font-size: 3rem;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}